<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% if @trainer == current_trainer %>
  <%= button_to "Create Pokemon", new_pokemon_path, :class => "button medium", method: :get %>
<% end %>
<h4> Pokemons: </h4>
  <ul>
    <% @trainer.pokemons.each do |p| %>
    <li><%= p.name %> 
    	<p>Level: <%= p.level %></p> 
    	<p>Health: <%= p.health %></p>
    	<%= button_to "Damage!", damage_path(id: p), :class => "button small", :method => :patch %>
    </li>
    <% end %>
  </ul>
